<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#3264f5" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#3264f5">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#3264f5">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#3264f5">

    <title>Congratulations</title>
    <link rel="stylesheet" href="landing/reg.css">
</head>

<body>
    <div class="container">
        <div class="item">
            <h2 id="title" class="text-center">Registration success</h2>
            <p id="description" class="description text-center">
                Congratulations! You have successfully registered <%= name %> to the Orbital Node platforms. Enjoy our
                    services. Our system is entering the information you sent us into our Database. Details on how to
                    manage you school website instance will be sent to your school email
                    shortly. As for now, you can access your School website through the search bar on the Orbital Node
                    official website. Thanks for you Patronage.
            </p>
        </div><br />
        <div class="text-center">
            <a href="/" style="text-decoration: none;">Orbital Node official Website</a>
        </div>
        <style>
            .container {
                text-align: center;
            }

            .container a {
                color: rgb(133, 255, 249);
                text-decoration: none;
            }
        </style>
    </div>
</body>

</html>